.headerContainer {
  background: var(--bg-header);
  height: 6.5rem;

  display: flex;
  align-items: center;

  padding: 2rem 4rem;

  border-bottom: 1px solid var(--border-color);

  p {
    margin-left: 2rem;
    padding: 0.25rem 0 0.25rem 2rem;
    border-left: 1px solid var(--border-color);
    color: var(--green-500);
  }

  & .leftStatus {
    margin-left: auto;
    height: 60px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    .switcher {
      display: flex;
      justify-content: space-between;
      gap: 10px;
      img {
        height: 30px;
        width: 30px;
      }
    }

    span {
      text-transform: capitalize;
      color: var(--green-500);
    }
  }
}
